<% add_decidim_page_title("Test page") %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <div>
      <%= "Test page" %>
    </div>

    <div class="flex items-center gap-x-4">

    </div>
  </h1>
</div>

